# Assignment \#4 the Olympic dataset 1/2

#### Features description
- *City*: City
- *Edition*: Year
- *Sport*: Sport
- *Discipline*: Discipline
- *Athlete*: Athlete's last name and first name (generally separated by a comma and a space)
- *NOC*: Country, National Olympic Committee, ISO 3166-1 alpha-3
- *Gender*: Men, Women
- *Event*: Event
- *Event_gender*: Event gender (F = Women, M = Men, X = NA)
- *Medal*: Metal of medal (Bronze, Silver, Gold)

In [1]:
# usual import and options
import pandas as pd
pd.set_option("display.max_rows", 16)

### Loading the dataset

**file**: `'Summer Olympic medallists 1896 to 2008 - ALL MEDALISTS.txt'`

**separator**: tab: `\t`

In [2]:
# LOADING THE DATASET
# DO NOT CHANGE THIS CELL FOR GRADING
# THE DATASET SHOULD BE ALONG WITH THE NOTEBOOK AND THE PYTHON FILE

df = pd.read_csv('Summer Olympic medallists 1896 to 2008 - ALL MEDALISTS.txt', sep='\t')
df.head(10)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
8,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold

#### Questions

1) How many different cities have organized Olympic games?

2) How many different editions of Olympic games are in the dataset?

3) How many cities have organized more than one edition of Olympic games?

4) Which sport distributed the most medals?

5) Which discipline distributed the most medals?

6) How many gold medals have been distributed?

7) Which edition distributed the most silver medals?

8) In how many different disciplines did men received medals (°)?

9) In how many different disciplines did women received medals (°)?

10) How many disciplines are dedicated to women (°)?

11) How many countries have won a medal with an event gender equal to 'X'?

12) How many countries have won a gold medal with an event gender equal to 'X'?

13) How many different countries have an athlete whose surname is 'SCHMIDT' (+)?

14) How many different sports have the word 'ball' in their name?

15) How many Bronze or Silver medals have been won by any athlete whose surname is 'KIM' (+)?

(°) Use the 'Gender' column.

(+) Most of athlene's names are in the form: 'SURNAME, Firstname'

In [3]:
# 1) How many different cities have organized Olympic games?
def exercise_01():
    result = df['City'].nunique()
    return result

# run and check
exercise_01()

22

In [4]:
# 2) How many different editions of Olympic games are in the dataset?
def exercise_02():
    result = df['Edition'].nunique()
    return result

# run and check
exercise_02()

26

In [5]:
# 3) How many cities have organized more than one edition of Olympic games?

def exercise_03():
    result = (df.groupby('City')['Edition'].nunique()>(1)).sum()
    return result

# run and check
exercise_03()

4

In [6]:
# 4) Which sport distributed the most medals?

def exercise_04():
    result = (df.groupby('Sport')['Medal'].count()).idxmax()
    return result

# run and check
exercise_04()

'Aquatics'

In [7]:
# 5) Which discipline distributed the most medals?

def exercise_05():
    result = (df.groupby('Discipline')['Medal'].count()).idxmax()
    return result

# run and check
exercise_05()

'Athletics'

In [8]:
# 6) How many gold medals have been distributed?

def exercise_06():
    result = (df['Medal']=="Gold").sum()
    return result

# run and check
exercise_06()

9850

In [9]:
# 7) Which edition distributed the most silver medals?

def exercise_07():
    result = (df.loc[df.Medal == "Silver"].groupby('Edition')['Medal'].count()).idxmax()
    return result

# run and check
exercise_07()

2000

In [10]:
# 8) In how many different disciplines did men received medals (°)?

def exercise_08():
    result = len(df.loc[df.Gender == "Men"].groupby('Discipline')['Medal'].count())
    return result

# run and check
exercise_08()

53

In [11]:
# 9) In how many different disciplines did women received medals (°)?

def exercise_09():
    result = len(df.loc[df.Gender == "Women"].groupby('Discipline')['Medal'].count())
    return result

# run and check
exercise_09()

40

In [12]:
# 10) How many disciplines are dedicated **only** to women (°)?

def exercise_10():
    Women = set(df.loc[df.Gender == "Women"]['Discipline'])
    Men = set(df.loc[df.Gender == "Men"]['Discipline'])
    result = Women-Men 
    return len(result)

# run and check
exercise_10()

3

In [13]:
# 11) How many countries have won a medal with an event gender equal to 'X'?

def exercise_11():
    result = len(df.loc[df.Event_gender == "X"].groupby('NOC')['Event_gender'].value_counts())
    return result

# run and check
exercise_11()

49

In [14]:
# 12) How many countries have won a gold medal with an event gender equal to 'X'?

def exercise_12():
    result = len(df.loc[df.Event_gender == "X"][df.Medal == "Gold"].groupby('NOC')['Medal'].count())
    return result

# run and check
exercise_12()

C:\Users\Priyanka\anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

33

In [15]:
# 13) How many different countries have an athlete whose surname is 'SCHMIDT'?

def exercise_13():
    result = len(df.loc[df['Athlete'].str.startswith('SCHMIDT')].groupby('NOC')['Athlete'].count())
    return result
    
# run and check
exercise_13()

11

In [16]:
# 14) How many different sports have the word 'ball' in their name?

def exercise_14():
    result = (pd.Series(df['Sport'].unique())).str.contains('ball').sum()
    return result

# run and check
exercise_14()

6

In [17]:
# 15) How many Bronze or Silver medals have been won by any athlete whose surname is 'KIM'?

def exercise_15():
    result = (pd.Series(df['Athlete'])).str.startswith('KIM,')[df.Medal != "Gold"].sum()
    return result

# run and check
exercise_15()

78

In [18]:
# 16) How many different events are in the dataset?

def exercise_01():
    result = len(df['Event'].drop_duplicates())
    return result


# run and check
exercise_01()

577

In [19]:
# 17) How many different events including numbers in their description are in the dataset?

def exercise_02():
    result = pd.Series(df.iloc[:,7].unique()).str.contains("\d").sum()
    return result

# run and check
exercise_02()

430

In [20]:
# 18) Which athlete has participated in the most editions?

def exercise_03():
    result = (df.groupby('Athlete')['Edition'].nunique()).idxmax()
    return result

# run and check
exercise_03()

'SZIVOS, Istvan'

In [21]:
# 19) How many sports distributed exactly the same number of Gold, Silver and Bronze medals?

def exercise_04():
    Medalcount = pd.crosstab(df['Sport'], df['Medal'])
    result = len(Medalcount.loc[ (Medalcount['Gold']==Medalcount['Silver']) & (Medalcount['Silver']==Medalcount['Bronze'])])
    return result
    
# run and check
exercise_04()

7

In [22]:
# 20) How many athletes received strictly more Gold medals than Silver and strictly more Silver medals than Bronze?

def exercise_05():
    Medalcount = pd.crosstab(df['Athlete'], df['Medal'])
    result = len(Medalcount.loc[ (Medalcount['Gold']>Medalcount['Silver']) & (Medalcount['Silver']>Medalcount['Bronze'])])
    return result

# run and check
exercise_05()

253

In [23]:
# 21) Which country has won at least one medal in each olympic edition?

def exercise_06():
    result=(df.pivot_table(index ="Medal", columns ="NOC", values ="Edition", aggfunc ="nunique").sum().sort_values()).index[-1]
    return result

# run and check
exercise_06()

'GBR'

In [24]:
# 22) What is the total sum of scores?

def exercise_07():
    df['score'] = (((df['Medal']=="Gold") * 3) + ((df['Medal']=="Silver") * 2) + ((df['Medal']=="Bronze") * 1))
    result = df['score'].sum()
    return result

# run and check
exercise_07()

58593

In [25]:
# 23) Which athlete has the largest sum of scores?

def exercise_08():
    result = df.groupby('Athlete')['score'].sum().idxmax()
    return result

# run and check
exercise_08()

'PHELPS, Michael'

In [26]:
# 24) Which woman athlete has the largest sum of scores (°)?

def exercise_09():
    result = df.loc[df.Gender == "Women"].groupby('Athlete')['score'].sum().idxmax()
    return result

# run and check
exercise_09()

'LATYNINA, Larisa'

In [27]:
# 25) How many different first names are in the dataset?

def exercise_13():
    df_new = df.Athlete.str.split(",", n=1, expand=True)
    df['Firstname'] = df_new[1]
    df['Firstname'] =df['Firstname'].str.strip('.,')
    result=len(df['Firstname'].value_counts())
    
    return result

# run and check
exercise_13()

9773